#container {
	padding-top: 10%;
	width: 60%;
	margin: auto;
	overflow: hidden;
	width: 60%;
}

#imagen {
	width: 49%;
	float: left;
}

#imagen img {
	width: 100%;
	height: 100%;
}

#precio {
	width: 50%;
	float: right;
}

#precio div {
	padding: 20px;
}

#precio div p {
	font-size: 18px;
	padding: 5px;
}

#precio div a {
	padding: 5px;
	font-size: 18px;
	margin-left: 0px;
}

#precio strong {
	font-size: 25px;
	
}

#muestraProductos {
	margin-left: 20%;
	margin-top: 100px;
	text-align: center;
	float: left;
}

#muestraProductos h2 {
	margin-bottom: 10%;
}

#barraizquierda {
	
	overflow:hidden;
	position: fixed;
	background-color: gray;
	float: left;
	margin-top: 4%;
	width: 15%;
	height: 84%;
}

#barraizquierda ul {
	list-style: none;
}

#barraizquierda h2 a {
	margin-left: 14%;
	color: white;
	padding-top: 25%;
	margin-bottom: 25%;
}

#barraizquierda a {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	float: left;
	height: 3em;
	color: rgba(0, 0, 0, .5);
	width: 100%;
}

#barraizquierda li a:hover {
	color: darkgray;
}

#table {
	width: 99%;
	padding-top: 5%;
}

/*----Slider-----*/
.carousel-inner img {
	width: 100%;
	margin: auto;
	margin-top: 4%;
}

/*-----Pie de Pagina----*/
#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #2C3E50;
	padding-top: 10px;
}

.footertext {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
}